body{
    background-image:url(../Imagenes/Pagina\ Inicial.png);
    background-size: cover;
}

nav{
display: flex;
justify-content: space-between;
max-width: 1440;
height: 45px;
align-items: center;
}

img {
    width: 100%;
    height: 30%;
}

h1{
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-left: 28px;
    padding: 5px
}

.opcionesnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    padding: 28px;
}

.opcionesnav > p{
font-family: 'Work Sans', sans-serif;
font-size: 18px;
font-weight: 300;
}

.opcionesnav>p:hover{
    background-color: black;
    color: white;
    padding: 3px;
}

.opcionesnav>a:hover{
    background-color: black;
    color: white;
    padding: 3px;
}

.line{
    width: 4px;
    background-color: black;
}
   
.subtitulo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
}

.subtitulo > p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: black; 
}

.projects-container{
    display: flex;
    flex-direction: row;
    gap: 132px;
    margin-top: 90px;
    margin-left: 115px;
    margin-right: 115px;
    
}

.line{
    background-color: black;
    height: 1.5px;
    width: 100%;
}

.line2{
    background-color: black;
    height: 1.5px;
    width: 100%;
    margin-bottom: 30px;
}

.tituloproject{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3px;
}

.nombre{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black; 

}

.numero{
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 300;
}
    


.project{
    width: 30%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border:  1px solid black;
    margin: 0 auto;
    background-color: white;
}

.project-imagene {
    width: 100%;
    margin-top: 15px;
}


.info-buttom{
    margin-top: 10px;
}

.info-buttom > p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: black;
    margin-bottom: 5px;
    margin: 0 auto;
    text-align: justify;
}

.center-button {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

button{
    height: 30px;
    width: 50%;
    min-width: 150px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: white;
    color: black;
    border:  1px solid black;
    margin: 0 auto;

}
button:hover{
    background-color: black;
    color: white;
}


.subtitulo-bajo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 65px;
}
.subtitulo-bajo > p{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 28px;
    margin-right: 28px;
    font-weight: 300;
}

a{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}

h1:hover{
background-color: black;
color: white;
}

.project:hover{
    border: 2px solid black;
    background-color:#738D93;
}

.linea-titulo{
    background-color: black;
    height: 1.5px;
    width: 100%;
    margin-bottom: 10px;
}

img:hover{
    opacity: 40%;
}
